.nav {
  margin-bottom: 5vh;
}

.question_header {
  margin-bottom: 5vh;
}

.btn-group-vertical {
  padding: 1vh;
}

.col-sm-10 {
  height: 25vh;
}

@media screen and (max-height:425px) {

  .col-sm-10 {
    height: 35vh;
  } 
}